@media screen and (min-width: 768px) {
  .header__ctn__menu .language-selector {
    display: none;
  }
  
  .header__ctn__panel {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .header__ctn__panel .language-selector {
    display: block;
    padding: 5px;
  }
  
  .header__ctn__panel .language-selector__item {
    height: 29px;
    width: 29px;
    padding: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .header__ctn__menu {
    display: none;
  }

  .header__ctn__panel {
    gap: 32px;
  }

  .header__ctn__panel .navigation-panel {
    display: block;
  }
  
  .header__ctn__panel .navigation-panel__item {
    display: inline-block;
  }

  .header__ctn__panel .navigation-panel a,
  .header__ctn__panel .navigation-panel .menu__header {
    /* Increase padding for touchable elements. */
    padding: 16px;
  }

  .header__ctn__panel .navigation-panel .menu__header__side {
    width: 12px;
    margin-left: 8px;
  }

  .header__ctn__panel .navigation-panel .menu__body {
    background-color: var(--color-raisin-black);
    border: 1px solid var(--color-old-burgundy);
    border-radius: 5px;
    top: 85px;
    padding: 10px 6px;
    /* Revert to max-content again, since the width variation to fit the content is not a problem in this case. */
    width: max-content; 
  }
}

@media screen and (min-width: 1366px) {
  .header {
    height: 183px;
  }

  .header__ctn__logo {
    width: 225px;
  }

  .header__ctn__panel .navigation-panel .menu__body {
    top: 119px;
    padding: 16px 12px;
  }
}