@import "normalize.css";

@font-face {
  font-family: "Cervo Neue Light";
  src: 
    local("Cervo Neue Light Neue"), 
    url("../public/fonts/CervoNeue-Light.woff") format("woff");
}

@font-face {
  font-family: "Cervo Neue Regular";
  src: 
    local("Cervo Neue Regular Neue"),  
    url("../public/fonts/CervoNeue-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cervo Neue Medium";
  src: 
    local("Cervo Neue Medium Neue"),  
    url("../public/fonts/CervoNeue-Medium.woff") format("woff");
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* TODO: Review if this way of declaring font-family is correct. */
  --ff-cervo-neue-light: "Cervo Neue Light", Helvetica, Arial, sans-serif;
  --ff-cervo-neue-regular: "Cervo Neue Regular", Helvetica, Arial, sans-serif;
  --ff-cervo-neue-medium: "Cervo Neue Medium", Helvetica, Arial, sans-serif;

  --color-raisin-black: #231F20;
  --color-old-burgundy: #453129;
  --color-deep-taupe: #7E5E55;
  --color-gold-fusion: #8C734B;
  --color-gold-metallic: #D7AE35; 
  --color-persian-plum: #6C121E;
  --color-dark-raspberry: #842748;
  --color-red-violet: #8E2037;
  --color-stpatricks-blue: #272F78;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.min-hp {
  padding-left: 36px;
  padding-right: 36px;
}

.min-vp {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* TODO: Check if it works with 100% instead of 100vw. */
.ctn {
  max-width: 100vw;
  margin: auto;
}

@media screen and (min-width: 1366px) {
  .ctn {
    max-width: 1366px;
  }

  .min-vp {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
